Repository shakes76/PatternAnalysis-2024, pull requests merged in 2024-11, with the labels that each got.

#3 Multi-Layer GNN Model for Node Classification and Embedding Visualization
  recognition/gnn-node-classification-TsungTseTu/.gitignore
  recognition/gnn-node-classification-TsungTseTu/README.md
  recognition/gnn-node-classification-TsungTseTu/dataset.py
  recognition/gnn-node-classification-TsungTseTu/images/SNE visualization.png
  recognition/gnn-node-classification-TsungTseTu/modules.py
  recognition/gnn-node-classification-TsungTseTu/predict.py
  recognition/gnn-node-classification-TsungTseTu/train.py
Labels: _GNN, PDF, Preliminary Grade, BB

#4 Classifier for ISIC 2020 Kaggle Challenge based on a Siamese Network
  recognition/siamese-network-46978554/.gitignore
  recognition/siamese-network-46978554/README.md
  recognition/siamese-network-46978554/assets/margin-0.3-avg-losses.png
  recognition/siamese-network-46978554/assets/margin-0.3-best-pca-preds.png
  recognition/siamese-network-46978554/assets/margin-0.3-best-pca-targets.png
  recognition/siamese-network-46978554/assets/margin-0.3-best-tsne-preds.png
  recognition/siamese-network-46978554/assets/margin-0.3-best-tsne-targets.png
  recognition/siamese-network-46978554/assets/margin-0.5-avg-losses.png
  recognition/siamese-network-46978554/assets/margin-0.5-best-pca-preds.png
  recognition/siamese-network-46978554/assets/margin-0.5-best-pca-targets.png
  recognition/siamese-network-46978554/assets/margin-0.5-best-tsne-preds.png
  recognition/siamese-network-46978554/assets/margin-0.5-best-tsne-targets.png
  recognition/siamese-network-46978554/assets/siamese-network-example-architecture.png
  recognition/siamese-network-46978554/environment.yml
  recognition/siamese-network-46978554/src/dataset.py
  recognition/siamese-network-46978554/src/modules.py
  recognition/siamese-network-46978554/src/predict.py
  recognition/siamese-network-46978554/src/train.py
  recognition/siamese-network-46978554/src/util.py
Labels: _Siamese, PDF, Preliminary Grade, BB

#8 Triplet Loss Solution to 2020 Kaggle ISIC Challenge (47034073)
  recognition/47034073_siamese/.gitignore
  recognition/47034073_siamese/README.md
  recognition/47034073_siamese/dataset.py
  recognition/47034073_siamese/modules.py
  recognition/47034073_siamese/predict.py
  recognition/47034073_siamese/readme_assets/lesion_resnet.png
  recognition/47034073_siamese/readme_assets/mined.png
  recognition/47034073_siamese/readme_assets/test(SVM)_roc.png
  recognition/47034073_siamese/readme_assets/train(SVM)_roc.png
  recognition/47034073_siamese/readme_assets/train_loss.png
  recognition/47034073_siamese/readme_assets/train_tsne.png
  recognition/47034073_siamese/readme_assets/val(SVM)_roc.png
  recognition/47034073_siamese/requirements.txt
  recognition/47034073_siamese/shrink_images.py
  recognition/47034073_siamese/split_data.py
  recognition/47034073_siamese/train.py
  recognition/47034073_siamese/trainer.py
  recognition/47034073_siamese/utils.py
Labels: _Siamese, PDF, Preliminary Grade, BB, Updated_Grade

#9 Add 2D UNet Implementation for Prostate Cancer Segmentation
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/README.md
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/dataset.py
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/images/dice_score_histogram.png
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/images/dice_score_scatter.png
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/images/initial_dataset_test.png
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/images/sample_1.png
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/images/sample_2.png
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/images/sample_3.png
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/images/sample_4.png
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/images/sample_5.png
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/images/training_metrics.png
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/modules.py
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/predict.py
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/requirements.txt
  recognition/2DUNet_HipMRI_Segmentation_DarcyWeedman/train.py
Labels: _UNet2D, PDF, Preliminary Grade, BB, Updated_Grade

#10 Classification of the ANDI dataset using the Global Filter Network Transformer - s4717300
  recognition/GFNet_s4717300/.gitignore
  recognition/GFNet_s4717300/README.md
  recognition/GFNet_s4717300/assets/AD.jpeg
  recognition/GFNet_s4717300/assets/GFNET_Structure.png
  recognition/GFNet_s4717300/assets/NC.jpeg
  recognition/GFNet_s4717300/assets/acc.png
  recognition/GFNet_s4717300/assets/acc_fix.png
  recognition/GFNet_s4717300/assets/conf.png
  recognition/GFNet_s4717300/assets/global_filters.png
  recognition/GFNet_s4717300/assets/plot-loss.png
  recognition/GFNet_s4717300/dataset.py
  recognition/GFNet_s4717300/modules.py
  recognition/GFNet_s4717300/predict.py
  recognition/GFNet_s4717300/train.py
  recognition/GFNet_s4717300/utils.py
Labels: _GFNet, PDF, Preliminary Grade, BB

#11 Vision Transformer for ADNI Dataset
  recognition/46975115_ViT/README.md
  recognition/46975115_ViT/dataset.py
  recognition/46975115_ViT/figures&images/AD_image.jpeg
  recognition/46975115_ViT/figures&images/NC_image.jpeg
  recognition/46975115_ViT/figures&images/ViT_architecture.png
  recognition/46975115_ViT/figures&images/accuracy_loss_plot.png
  recognition/46975115_ViT/figures&images/predicted_labels.png
  recognition/46975115_ViT/modules.py
  recognition/46975115_ViT/predict.py
  recognition/46975115_ViT/train.py
  recognition/46975115_ViT/utils.py
Labels: _ViT, PDF, Preliminary Grade, BB

#13 Semi-Supervised Node Classification on Facebook Page-Page Network using Graph Neural Networks
  recognition/facebook_gnn_classification/README.md
  recognition/facebook_gnn_classification/dataset.py
  recognition/facebook_gnn_classification/graphs/training_validation_loss.png
  recognition/facebook_gnn_classification/graphs/umap_embeddings.png
  recognition/facebook_gnn_classification/modules.py
  recognition/facebook_gnn_classification/predict.py
  recognition/facebook_gnn_classification/train.py
Labels: _GNN, PDF, Preliminary Grade, Feedback Needed, BB, Updated_Grade

#15 ADNI Classification using GFNet - s4763354
  recognition/ADNI_s4763354/README.md
  recognition/ADNI_s4763354/dataset.py
  recognition/ADNI_s4763354/images/acc_approach1.png
  recognition/ADNI_s4763354/images/acc_hb.png
  recognition/ADNI_s4763354/images/acc_hti.png
  recognition/ADNI_s4763354/images/confusion_matrix_1.png
  recognition/ADNI_s4763354/images/confusion_matrix_2.png
  recognition/ADNI_s4763354/images/example_classifications_1.png
  recognition/ADNI_s4763354/images/example_classifications_2.png
  recognition/ADNI_s4763354/images/gfnet.png
  recognition/ADNI_s4763354/images/loss_approach1.png
  recognition/ADNI_s4763354/images/loss_hb.png
  recognition/ADNI_s4763354/images/loss_hti.png
  recognition/ADNI_s4763354/images/transformed.png
  recognition/ADNI_s4763354/modules.py
  recognition/ADNI_s4763354/predict.py
  recognition/ADNI_s4763354/train.py
Labels: _GFNet, PDF, Preliminary Grade, BB

#16 Topic recognition - s48008361 Siamese Submission
  recognition/Siamese-48008361/README.md
  recognition/Siamese-48008361/dataset.py
  recognition/Siamese-48008361/graphs/confusion_matrix.png
  recognition/Siamese-48008361/graphs/example_predictions.png
  recognition/Siamese-48008361/graphs/resnet50.png
  recognition/Siamese-48008361/graphs/roc_curve.png
  recognition/Siamese-48008361/graphs/training_plots.png
  recognition/Siamese-48008361/graphs/tripletloss.png
  recognition/Siamese-48008361/graphs/tsne_plot.png
  recognition/Siamese-48008361/graphs/tsne_plotv2.png
  recognition/Siamese-48008361/modules.py
  recognition/Siamese-48008361/predict.py
  recognition/Siamese-48008361/train.py
Labels: _Siamese, PDF, Preliminary Grade, BB

#18 Topic recognition: (s48336813) Classifying Alzheimer's disease (normal and AD) on the ADNI dataset using a GFNet vision transformer.
  recognition/GFNet-48336813/README.MD
  recognition/GFNet-48336813/dataset.py
  recognition/GFNet-48336813/modules.py
  recognition/GFNet-48336813/predict.py
  recognition/GFNet-48336813/resources/GFNet_architecture.jpeg
  recognition/GFNet-48336813/resources/gfnet-b/accuracy.png
  recognition/GFNet-48336813/resources/gfnet-b/accuracy_loss.jpeg
  recognition/GFNet-48336813/resources/gfnet-b/loss.png
  recognition/GFNet-48336813/resources/gfnet-s/accuracy.png
  recognition/GFNet-48336813/resources/gfnet-s/accuracy_loss.jpeg
  recognition/GFNet-48336813/resources/gfnet-s/confusion_matrix.png
  recognition/GFNet-48336813/resources/gfnet-s/loss.png
  recognition/GFNet-48336813/resources/gfnet-s/random_test_image_93.png
  recognition/GFNet-48336813/resources/gfnet-s2/accuracy.png
  recognition/GFNet-48336813/resources/gfnet-s2/accuracy_loss.jpeg
  recognition/GFNet-48336813/resources/gfnet-s2/cmat_image.jpeg
  recognition/GFNet-48336813/resources/gfnet-s2/confusion_matrix.png
  recognition/GFNet-48336813/resources/gfnet-s2/image_T.png
  recognition/GFNet-48336813/resources/gfnet-s2/loss.png
  recognition/GFNet-48336813/resources/gfnet-ti/accuracy.png
  recognition/GFNet-48336813/resources/gfnet-ti/accuracy_loss.jpeg
  recognition/GFNet-48336813/resources/gfnet-ti/loss.png
  recognition/GFNet-48336813/resources/gfnet-xs/accuracy.png
  recognition/GFNet-48336813/resources/gfnet-xs/accuracy_loss.jpeg
  recognition/GFNet-48336813/resources/gfnet-xs/loss.png
  recognition/GFNet-48336813/resources/image1.jpeg
  recognition/GFNet-48336813/resources/image2.jpeg
  recognition/GFNet-48336813/resources/image3.jpeg
  recognition/GFNet-48336813/train.py
  recognition/GFNet-48336813/utils.py
Labels: _GFNet, PDF, Preliminary Grade, BB

#26 Topic recognition (46980801): GNN
  recognition/GNN_46980801/.gitignore
  recognition/GNN_46980801/README.md
  recognition/GNN_46980801/dataset.py
  recognition/GNN_46980801/graphs/TSNE1.png
  recognition/GNN_46980801/graphs/TSNE2.png
  recognition/GNN_46980801/graphs/TSNE3.png
  recognition/GNN_46980801/graphs/test_acc.png
  recognition/GNN_46980801/graphs/test_loss.png
  recognition/GNN_46980801/graphs/train_acc.png
  recognition/GNN_46980801/graphs/train_loss.png
  recognition/GNN_46980801/modules.py
  recognition/GNN_46980801/predict.py
  recognition/GNN_46980801/requirements.txt
  recognition/GNN_46980801/train.py
Labels: _GNN, PDF, Preliminary Grade, BB

#32 Siamese Classifier on ISIC 2020 data - s4696386
  recognition/Siamese Network Classifier - s4696386/README.md
  recognition/Siamese Network Classifier - s4696386/dataset.py
  recognition/Siamese Network Classifier - s4696386/images/Classifier_Loss.png
  recognition/Siamese Network Classifier - s4696386/images/Combined_Loss.png
  recognition/Siamese Network Classifier - s4696386/images/Confusion_Matrix.png
  recognition/Siamese Network Classifier - s4696386/images/Siamese_Loss.png
  recognition/Siamese Network Classifier - s4696386/modules.py
  recognition/Siamese Network Classifier - s4696386/predict.py
  recognition/Siamese Network Classifier - s4696386/train.py
Labels: _Siamese, PDF, Preliminary Grade, BB, Updated_Grade

#38 VQ-VAE HipMRI Dataset - s4743500
  recognition/vqvae-s4743500/README.md
  recognition/vqvae-s4743500/dataset.py
  recognition/vqvae-s4743500/modules.py
  recognition/vqvae-s4743500/predict.py
  recognition/vqvae-s4743500/resources/VAEArchitecture.png
  recognition/vqvae-s4743500/resources/VQ-VAEArchitecture.png
  recognition/vqvae-s4743500/resources/batch_losses.png
  recognition/vqvae-s4743500/resources/best_image.png
  recognition/vqvae-s4743500/resources/epoch_19_comparison_val.png
  recognition/vqvae-s4743500/resources/epoch_1_phase_train(ssim=0.2670).png
  recognition/vqvae-s4743500/resources/epoch_20_phase_train(ssim=0.7760).png
  recognition/vqvae-s4743500/resources/epoch_5_phase_train(ssim=0.6683).png
  recognition/vqvae-s4743500/resources/original_images.png
  recognition/vqvae-s4743500/resources/reconstructed_images.png
  recognition/vqvae-s4743500/resources/ssim_scores.png
  recognition/vqvae-s4743500/resources/ssim_scores_test_set.png
  recognition/vqvae-s4743500/resources/worst_image.png
  recognition/vqvae-s4743500/train.py
Labels: _VQVAE, PDF, Preliminary Grade, BB

#43 S4581378-Siamese network for ISIC 2020 Kaggle Dataset
  recognition/45813788_Siamese/.gitignore
  recognition/45813788_Siamese/README.md
  recognition/45813788_Siamese/dataset.py
  recognition/45813788_Siamese/driver.py
  recognition/45813788_Siamese/environment.yml
  recognition/45813788_Siamese/hyper.py
  recognition/45813788_Siamese/images/MODELARCHITECTURE.jpg
  recognition/45813788_Siamese/images/epoch5.jpg
  recognition/45813788_Siamese/images/epochTest.jpg
  recognition/45813788_Siamese/images/newmodacc.png
  recognition/45813788_Siamese/images/newmodauroc.png
  recognition/45813788_Siamese/images/newmodloss.png
  recognition/45813788_Siamese/images/newmodtestauroc.png
  recognition/45813788_Siamese/modules.py
  recognition/45813788_Siamese/predict.py
  recognition/45813788_Siamese/train.py
  recognition/45813788_Siamese/utils.py
Labels: _Siamese, PDF, Preliminary Grade, BB

#44 s4803613: Classifying Alzheimer's Disease Using GFNet
  recognition/GFNet_Gavin_Sun/Figures/Screenshot 2024-10-22 215240.png
  recognition/GFNet_Gavin_Sun/Figures/Training_vs_validation.png
  recognition/GFNet_Gavin_Sun/Figures/predictions.png
  recognition/GFNet_Gavin_Sun/README.md
  recognition/GFNet_Gavin_Sun/dataset.py
  recognition/GFNet_Gavin_Sun/modules.py
  recognition/GFNet_Gavin_Sun/predict.py
  recognition/GFNet_Gavin_Sun/slurm.txt
  recognition/GFNet_Gavin_Sun/train.py
Labels: _GFNet, PDF, Preliminary Grade, BB

#45 s4708525 - Classify Alzheimer’s disease (normal and AD) of the ADNI brain data using Convolutional Vision Transformer (CvT)
  recognition/VisionTransformer-s4708525/README.md
  recognition/VisionTransformer-s4708525/dataset.py
  recognition/VisionTransformer-s4708525/modules.py
  recognition/VisionTransformer-s4708525/predict.py
  recognition/VisionTransformer-s4708525/results/convTransformer.png
  recognition/VisionTransformer-s4708525/results/dataset.out
  recognition/VisionTransformer-s4708525/results/img_testing_samples_augmented.png
  recognition/VisionTransformer-s4708525/results/img_testing_samples_original.png
  recognition/VisionTransformer-s4708525/results/img_training_samples_augmented.png
  recognition/VisionTransformer-s4708525/results/img_training_samples_original.png
  recognition/VisionTransformer-s4708525/results/predict001.out
  recognition/VisionTransformer-s4708525/results/train002_a100.out
  recognition/VisionTransformer-s4708525/results/train_val_accuracy_001.png
  recognition/VisionTransformer-s4708525/results/train_val_loss_001.png
  recognition/VisionTransformer-s4708525/train.py
  recognition/VisionTransformer-s4708525/utils.py
Labels: _ViT, PDF, Preliminary Grade, BB

#50 GCN Node Classification
  recognition/GCN_47643439/README.MD
  recognition/GCN_47643439/dataset.py
  recognition/GCN_47643439/modules.py
  recognition/GCN_47643439/plot/TSNE_Visualization.png
  recognition/GCN_47643439/plot/accuracy_over_epochs.png
  recognition/GCN_47643439/plot/loss_over_epochs.png
  recognition/GCN_47643439/predict.py
  recognition/GCN_47643439/train.py
Labels: _GNN, PDF, Preliminary Grade, BB

#51 Pull Request for VQ-VAE model on HipMRI data
  recognition/VQVAE_s4745413/README.md
  recognition/VQVAE_s4745413/assets/loss_fn.png
  recognition/VQVAE_s4745413/assets/model.png
  recognition/VQVAE_s4745413/assets/original_0_image_0.png
  recognition/VQVAE_s4745413/assets/original_0_image_1.png
  recognition/VQVAE_s4745413/assets/original_0_image_2.png
  recognition/VQVAE_s4745413/assets/original_0_image_3.png
  recognition/VQVAE_s4745413/assets/original_0_image_4.png
  recognition/VQVAE_s4745413/assets/original_0_image_5.png
  recognition/VQVAE_s4745413/assets/original_0_image_6.png
  recognition/VQVAE_s4745413/assets/original_0_image_7.png
  recognition/VQVAE_s4745413/assets/original_0_image_8.png
  recognition/VQVAE_s4745413/assets/original_0_image_9.png
  recognition/VQVAE_s4745413/assets/reconstructed_0_image_0.png
  recognition/VQVAE_s4745413/assets/reconstructed_0_image_1.png
  recognition/VQVAE_s4745413/assets/reconstructed_0_image_2.png
  recognition/VQVAE_s4745413/assets/reconstructed_0_image_3.png
  recognition/VQVAE_s4745413/assets/reconstructed_0_image_4.png
  recognition/VQVAE_s4745413/assets/reconstructed_0_image_5.png
  recognition/VQVAE_s4745413/assets/reconstructed_0_image_6.png
  recognition/VQVAE_s4745413/assets/reconstructed_0_image_7.png
  recognition/VQVAE_s4745413/assets/reconstructed_0_image_8.png
  recognition/VQVAE_s4745413/assets/reconstructed_0_image_9.png
  recognition/VQVAE_s4745413/assets/residual_architecture.png
  recognition/VQVAE_s4745413/assets/ssim_loss.png
  recognition/VQVAE_s4745413/assets/ssim_perc.png
  recognition/VQVAE_s4745413/assets/train_loss.png
  recognition/VQVAE_s4745413/assets/train_loss_zoom.png
  recognition/VQVAE_s4745413/assets/validation_loss.png
  recognition/VQVAE_s4745413/assets/validation_loss_zoom.png
  recognition/VQVAE_s4745413/dataset.py
  recognition/VQVAE_s4745413/modules.py
  recognition/VQVAE_s4745413/predict.py
  recognition/VQVAE_s4745413/train.py
Labels: _VQVAE, PDF, Preliminary Grade, BB, Updated_Grade

#52 s4803414: Prostate 3D Dataset Segmentation with 3D Improved U-Net Architecture
  recognition/UNet3D_s4803414/Content/UNET_model.png
  recognition/UNet3D_s4803414/Content/prediction.png
  recognition/UNet3D_s4803414/Content/prediction2.png
  recognition/UNet3D_s4803414/README.md
  recognition/UNet3D_s4803414/dataset.py
  recognition/UNet3D_s4803414/modules.py
  recognition/UNet3D_s4803414/predict.py
  recognition/UNet3D_s4803414/train.py
Labels: _UNet3D, PDF, Preliminary Grade, BB, Updated_Grade

#56 Initial 2D UNet Model Application for the HIPMRI Study
  recognition/UNet2D_HipMRI_Project_47101425/LICENSE
  recognition/UNet2D_HipMRI_Project_47101425/README.md
  recognition/UNet2D_HipMRI_Project_47101425/dataset.py
  recognition/UNet2D_HipMRI_Project_47101425/images/dice-coeff-example.png
  recognition/UNet2D_HipMRI_Project_47101425/images/epoch-loss-example.png
  recognition/UNet2D_HipMRI_Project_47101425/images/model-example-3e_t.png
  recognition/UNet2D_HipMRI_Project_47101425/images/model-output-example-10.png
  recognition/UNet2D_HipMRI_Project_47101425/images/model-output.png
  recognition/UNet2D_HipMRI_Project_47101425/images/u-net-architecture.png
  recognition/UNet2D_HipMRI_Project_47101425/modules.py
  recognition/UNet2D_HipMRI_Project_47101425/predict.py
  recognition/UNet2D_HipMRI_Project_47101425/test_driver_script.py
  recognition/UNet2D_HipMRI_Project_47101425/train.py
  recognition/UNet2D_HipMRI_Project_47101425/utils.py
Labels: _UNet2D, PDF, Preliminary Grade, BB, Updated_Grade

#58 46972299 - Improved 3D Unet for Segmenting HipMRI 3D Prostate MRI Dataset
  recognition/46972299_ImprovedUnet/.gitignore
  recognition/46972299_ImprovedUnet/README.md
  recognition/46972299_ImprovedUnet/dataset.py
  recognition/46972299_ImprovedUnet/metrics.py
  recognition/46972299_ImprovedUnet/modules.py
  recognition/46972299_ImprovedUnet/predict.py
  recognition/46972299_ImprovedUnet/report_files/average_dice_training.png
  recognition/46972299_ImprovedUnet/report_files/complete_dice_testing.png
  recognition/46972299_ImprovedUnet/report_files/improved_unet_diagram.png
  recognition/46972299_ImprovedUnet/report_files/predict_visualise_0.png
  recognition/46972299_ImprovedUnet/requirements.txt
  recognition/46972299_ImprovedUnet/train.py
  recognition/46972299_ImprovedUnet/utils.py
Labels: _UNet3D, PDF, Preliminary Grade, BB, Updated_Grade

#63 Topic recognition
  recognition/Siamese_Kaggle_48023467/README.md
  recognition/Siamese_Kaggle_48023467/config.yaml
  recognition/Siamese_Kaggle_48023467/dataset.py
  recognition/Siamese_Kaggle_48023467/environment.yml
  recognition/Siamese_Kaggle_48023467/modules.py
  recognition/Siamese_Kaggle_48023467/plots/confusion_matrix.png
  recognition/Siamese_Kaggle_48023467/plots/metrics.png
  recognition/Siamese_Kaggle_48023467/plots/roc.png
  recognition/Siamese_Kaggle_48023467/predict.py
  recognition/Siamese_Kaggle_48023467/train.py
Labels: _Siamese, PDF, Preliminary Grade, BB, Updated_Grade

#64 Topic recognition_47914111
  recogniton/Multi-layer_GNN_47914111/.gitignore
  recogniton/Multi-layer_GNN_47914111/README.MD
  recogniton/Multi-layer_GNN_47914111/dataset.py
  recogniton/Multi-layer_GNN_47914111/modules.py
  recogniton/Multi-layer_GNN_47914111/plots/GCN_accuracy.png
  recogniton/Multi-layer_GNN_47914111/plots/GCN_loss.png
  recogniton/Multi-layer_GNN_47914111/plots/TSNE_train_plot.png
  recogniton/Multi-layer_GNN_47914111/predict.py
  recogniton/Multi-layer_GNN_47914111/train.py
Labels: _GNN, PDF, Preliminary Grade, BB

#65 Topic recognition
  recognition/s4764096_GCN/README.md
  recognition/s4764096_GCN/dataset.py
  recognition/s4764096_GCN/modules.py
  recognition/s4764096_GCN/p1.png
  recognition/s4764096_GCN/p2.png
  recognition/s4764096_GCN/p3.png
  recognition/s4764096_GCN/p4.png
  recognition/s4764096_GCN/predict.py
  recognition/s4764096_GCN/train.py
Labels: _GNN, PDF, Preliminary Grade, Commit Log, BB

#66 47041437_Improved 3D U-Net segmentation on 3D prostate MRI scans
  recognition/47041437_ProstateImproved3DUNet/README.md
  recognition/47041437_ProstateImproved3DUNet/dataset.py
  recognition/47041437_ProstateImproved3DUNet/images/Improvedunet3d/dsc_plot_label_Label 0.png
  recognition/47041437_ProstateImproved3DUNet/images/Improvedunet3d/dsc_plot_label_Label 1.png
  recognition/47041437_ProstateImproved3DUNet/images/Improvedunet3d/dsc_plot_label_Label 2.png
  recognition/47041437_ProstateImproved3DUNet/images/Improvedunet3d/dsc_plot_label_Label 3.png
  recognition/47041437_ProstateImproved3DUNet/images/Improvedunet3d/dsc_plot_label_Label 4.png
  recognition/47041437_ProstateImproved3DUNet/images/Improvedunet3d/dsc_plot_label_Label 5.png
  recognition/47041437_ProstateImproved3DUNet/images/Improvedunet3d/wk0_pred_slice_73.png
  recognition/47041437_ProstateImproved3DUNet/images/Improvedunet3d/wk0_pred_slice_97.png
  recognition/47041437_ProstateImproved3DUNet/images/Improvedunet3d/wk5_pred_slice_75.png
  recognition/47041437_ProstateImproved3DUNet/images/UNet architecture.jpg
  recognition/47041437_ProstateImproved3DUNet/images/image_slice_73.png
  recognition/47041437_ProstateImproved3DUNet/images/image_slice_75.png
  recognition/47041437_ProstateImproved3DUNet/images/image_slice_97.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/dsc_plot_label_Label 0.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/dsc_plot_label_Label 1.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/dsc_plot_label_Label 2.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/dsc_plot_label_Label 3.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/dsc_plot_label_Label 4.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/dsc_plot_label_Label 5.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/wk0_image_slice_73.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/wk0_image_slice_97.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/wk0_pred_slice_73.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/wk0_pred_slice_97.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/wk5_image_slice_75.png
  recognition/47041437_ProstateImproved3DUNet/images/unet3d/wk5_pred_slice_75.png
  recognition/47041437_ProstateImproved3DUNet/module_improvedunet3D.py
  recognition/47041437_ProstateImproved3DUNet/module_unet3D.py
  recognition/47041437_ProstateImproved3DUNet/predict.py
  recognition/47041437_ProstateImproved3DUNet/train.py
Labels: _UNet3D, PDF, Preliminary Grade, BB

#67 Topic recognition - GNN model
  recognition/Q2_Facebook_Data_GNN/.gitignore
  recognition/Q2_Facebook_Data_GNN/AdanvanceGNNModel_results_img/confusion_matrix_test.png
  recognition/Q2_Facebook_Data_GNN/AdanvanceGNNModel_results_img/t-SNE.png
  recognition/Q2_Facebook_Data_GNN/AdanvanceGNNModel_results_img/training_loss.png
  recognition/Q2_Facebook_Data_GNN/AdanvanceGNNModel_results_img/umap.png
  recognition/Q2_Facebook_Data_GNN/AdanvanceGNNModel_results_img/validation_acc.png
  recognition/Q2_Facebook_Data_GNN/README.MD
  recognition/Q2_Facebook_Data_GNN/dataset.py
  recognition/Q2_Facebook_Data_GNN/modules.py
  recognition/Q2_Facebook_Data_GNN/predict.py
  recognition/Q2_Facebook_Data_GNN/train.py
Labels: _GNN, PDF, Preliminary Grade, BB

#68 Complete ADNI classifier using GFNet model
  recognition/ADNI_classification_YunruC_S4901409/README.md
  recognition/ADNI_classification_YunruC_S4901409/dataset.py
  recognition/ADNI_classification_YunruC_S4901409/modules.py
  recognition/ADNI_classification_YunruC_S4901409/predict.py
  recognition/ADNI_classification_YunruC_S4901409/train.py
Labels: _GFNet, PDF, Preliminary Grade, BB, Updated_Grade

#70 Topic recognition: HipMRI 2D UNet - 46964472
  recognition/HipMRI_2D_UNet_46964472/README.md
  recognition/HipMRI_2D_UNet_46964472/dataset.py
  recognition/HipMRI_2D_UNet_46964472/image/dsc1.png
  recognition/HipMRI_2D_UNet_46964472/image/loss1.png
  recognition/HipMRI_2D_UNet_46964472/image/result1.png
  recognition/HipMRI_2D_UNet_46964472/image/u-net-architecture.png
  recognition/HipMRI_2D_UNet_46964472/image/visual1.png
  recognition/HipMRI_2D_UNet_46964472/modules.py
  recognition/HipMRI_2D_UNet_46964472/predict.py
  recognition/HipMRI_2D_UNet_46964472/train.py
  recognition/HipMRI_2D_UNet_46964472/utils.py
Labels: _UNet2D, PDF, Preliminary Grade, BB, Updated_Grade

#72 Topic Recognition Final Report Joseph Savage s4647117
  recognition/3DProstateSegment_s4647117/README.md
  recognition/3DProstateSegment_s4647117/dataset.py
  recognition/3DProstateSegment_s4647117/imgs/Screenshot 2024-10-22 141306.png
  recognition/3DProstateSegment_s4647117/imgs/actual-ezgif.com.gif
  recognition/3DProstateSegment_s4647117/imgs/actual_seperate.png
  recognition/3DProstateSegment_s4647117/imgs/comparison.gif
  recognition/3DProstateSegment_s4647117/imgs/input_image.png
  recognition/3DProstateSegment_s4647117/imgs/input_label.png
  recognition/3DProstateSegment_s4647117/imgs/learning_rate_new (1).png
  recognition/3DProstateSegment_s4647117/imgs/loss_new (1).png
  recognition/3DProstateSegment_s4647117/imgs/pred-ezgif.com.gif
  recognition/3DProstateSegment_s4647117/imgs/pred_seperate.png
  recognition/3DProstateSegment_s4647117/modules.py
  recognition/3DProstateSegment_s4647117/predict.py
  recognition/3DProstateSegment_s4647117/train.py
  recognition/3DProstateSegment_s4647117/utils.py
Labels: _UNet3D, PDF, Preliminary Grade, BB, Updated_Grade

#73 Topic recognition - s4753820 ViT ADNI Brain Data Classification
  recognition/AlzheimerTransformer_s4753820/.gitignore
  recognition/AlzheimerTransformer_s4753820/README.md
  recognition/AlzheimerTransformer_s4753820/dataset.py
  recognition/AlzheimerTransformer_s4753820/modules.py
  recognition/AlzheimerTransformer_s4753820/plots/Vision_Transformer_Architecture_woi9aw.png
  recognition/AlzheimerTransformer_s4753820/plots/accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/batch_predictions.png
  recognition/AlzheimerTransformer_s4753820/plots/classification_report.txt
  recognition/AlzheimerTransformer_s4753820/plots/confusion_matrix.png
  recognition/AlzheimerTransformer_s4753820/plots/loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/tester_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/tester_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v0noAugments_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v0noAugments_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v1042_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v1042_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v11_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v11_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v13_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v13_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v14_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v14_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v15_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v15_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v1_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v1_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v2noAug50Epoch_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v2noAug50Epoch_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v3_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v3_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v4_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v4_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v5_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v5_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v6_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v6_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v7_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v7_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v7_true_acc_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v7_true_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v8_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/v8_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/vtest_accuracy_plot.png
  recognition/AlzheimerTransformer_s4753820/plots/vtest_loss_plot.png
  recognition/AlzheimerTransformer_s4753820/predict.py
  recognition/AlzheimerTransformer_s4753820/requirements.txt
  recognition/AlzheimerTransformer_s4753820/train.py
Labels: _ViT, PDF, Preliminary Grade, BB

#78 Lesion Detection in ISIC 2018 using YOLOv11 - 48022835
  recognition/ISIC_LesionNet_48022835/README.md
  recognition/ISIC_LesionNet_48022835/README_figures/ExampleDetection.jpg
  recognition/ISIC_LesionNet_48022835/README_figures/F1_curve.png
  recognition/ISIC_LesionNet_48022835/README_figures/InferencePrediction.jpg
  recognition/ISIC_LesionNet_48022835/README_figures/PR_curve.png
  recognition/ISIC_LesionNet_48022835/README_figures/P_curve.png
  recognition/ISIC_LesionNet_48022835/README_figures/R_curve.png
  recognition/ISIC_LesionNet_48022835/README_figures/RawDataImage.png
  recognition/ISIC_LesionNet_48022835/README_figures/confusion_matrix.png
  recognition/ISIC_LesionNet_48022835/README_figures/results.png
  recognition/ISIC_LesionNet_48022835/README_figures/val_batch0_labels.jpg
  recognition/ISIC_LesionNet_48022835/README_figures/val_batch0_pred.jpg
  recognition/ISIC_LesionNet_48022835/README_figures/val_batch1_labels.jpg
  recognition/ISIC_LesionNet_48022835/README_figures/val_batch1_pred.jpg
  recognition/ISIC_LesionNet_48022835/dataset.py
  recognition/ISIC_LesionNet_48022835/modules.py
  recognition/ISIC_LesionNet_48022835/predict.py
  recognition/ISIC_LesionNet_48022835/train.py
  recognition/ISIC_LesionNet_48022835/utils.py
Labels: _YOLO, PDF, Preliminary Grade, BB

#84 3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/README.md
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/dataset.py
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/modules.py
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/predict.py
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/3D_Improved_UNet.png
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/Accuracy.png
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/Input0.gif
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/Input1.gif
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/Input2.gif
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/Loss.png
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/MulticlassDiceCoefficient.png
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/Predicted0.gif
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/Predicted1.gif
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/Predicted2.gif
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/TrainingDiceSimilarityCoefficients.png
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/True0.gif
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/True1.gif
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/True2.gif
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/readme_assets/ValidationDiceSimilarityCoefficients.png
  recognition/3D Improved UNet for segmenting 3D prostate data - Nathan King (47399718)/train.py
Labels: _UNet3D, PDF, Preliminary Grade, BB, Updated_Grade

#85 GNN Facebook Page Classification
  recognition/GNNs4743209/README.MD
  recognition/GNNs4743209/assets/Train_History.png
  recognition/GNNs4743209/assets/embeddings_test.png
  recognition/GNNs4743209/assets/model-architecture.svg
  recognition/GNNs4743209/dataset.py
  recognition/GNNs4743209/modules.py
  recognition/GNNs4743209/predict.py
  recognition/GNNs4743209/requirements.txt
  recognition/GNNs4743209/train.py
Labels: _GNN, PDF, Preliminary Grade, Commit Log, BB

#89 s4698277 - 2D UNet Segmentation
  recognition/46982775_2DUNet/README.md
  recognition/46982775_2DUNet/dataset.py
  recognition/46982775_2DUNet/image_assets/cross_entropy_training_loss.png
  recognition/46982775_2DUNet/image_assets/example_input_image.png
  recognition/46982775_2DUNet/image_assets/example_input_mask.png
  recognition/46982775_2DUNet/image_assets/example_output_bad.png
  recognition/46982775_2DUNet/image_assets/example_output_best.png
  recognition/46982775_2DUNet/image_assets/example_output_good.png
  recognition/46982775_2DUNet/image_assets/example_prostate_image.png
  recognition/46982775_2DUNet/image_assets/prostate_dice_score_during_training.png
  recognition/46982775_2DUNet/image_assets/u-net-architecture.png
  recognition/46982775_2DUNet/modules.py
  recognition/46982775_2DUNet/predict.py
  recognition/46982775_2DUNet/train.py
  recognition/46982775_2DUNet/utils.py
Labels: _UNet2D, PDF, Preliminary Grade, BB, Updated_Grade

#96 Topic recognition - (46979597) Task 5: Vision Transformer (ViT) on the ADNI dataset
  recognition/ViT-Task5-4697959/README.md
  recognition/ViT-Task5-4697959/Readme-imgs/VIT_architecture.png
  recognition/ViT-Task5-4697959/Readme-imgs/sample_train/AD/388206_85.jpeg
  recognition/ViT-Task5-4697959/Readme-imgs/sample_train/AD/388206_86.jpeg
  recognition/ViT-Task5-4697959/Readme-imgs/sample_train/NC/1182968_105.jpeg
  recognition/ViT-Task5-4697959/Readme-imgs/sample_train/NC/1182968_106.jpeg
  recognition/ViT-Task5-4697959/Results/res_12_80epoch_0.5DO_earlystop/Res_2_ViT.out
  recognition/ViT-Task5-4697959/Results/res_12_80epoch_0.5DO_earlystop/accuracy_curve.png
  recognition/ViT-Task5-4697959/Results/res_12_80epoch_0.5DO_earlystop/confusion_matrix.png
  recognition/ViT-Task5-4697959/Results/res_12_80epoch_0.5DO_earlystop/loss_curve.png
  recognition/ViT-Task5-4697959/Results/res_12_80epoch_0.5DO_earlystop/prediction_visualization.png
  recognition/ViT-Task5-4697959/Results/res_16_1-e4Decay_bad/Res_2_ViT.out
  recognition/ViT-Task5-4697959/Results/res_16_1-e4Decay_bad/accuracy_curve.png
  recognition/ViT-Task5-4697959/Results/res_16_1-e4Decay_bad/confusion_matrix.png
  recognition/ViT-Task5-4697959/Results/res_16_1-e4Decay_bad/loss_curve.png
  recognition/ViT-Task5-4697959/Results/res_16_1-e4Decay_bad/prediction_visualization.png
  recognition/ViT-Task5-4697959/Results/res_17_1e-6Decay_bad/Res_2_ViT.out
  recognition/ViT-Task5-4697959/Results/res_17_1e-6Decay_bad/accuracy_curve.png
  recognition/ViT-Task5-4697959/Results/res_17_1e-6Decay_bad/confusion_matrix.png
  recognition/ViT-Task5-4697959/Results/res_17_1e-6Decay_bad/loss_curve.png
  recognition/ViT-Task5-4697959/Results/res_17_1e-6Decay_bad/prediction_visualization.png
  recognition/ViT-Task5-4697959/Results/res_7_80epoch/Res_2_ViT.out
  recognition/ViT-Task5-4697959/Results/res_7_80epoch/accuracy_curve.png
  recognition/ViT-Task5-4697959/Results/res_7_80epoch/confusion_matrix.png
  recognition/ViT-Task5-4697959/Results/res_7_80epoch/loss_curve.png
  recognition/ViT-Task5-4697959/Results/res_7_80epoch/prediction_visualization.png
  recognition/ViT-Task5-4697959/dataset.py
  recognition/ViT-Task5-4697959/modules.py
  recognition/ViT-Task5-4697959/predict.py
  recognition/ViT-Task5-4697959/train.py
Labels: _ViT, PDF, Preliminary Grade, BB

#97 Topic recognition
  recognition/46976916-HipMRI/README.md
  recognition/46976916-HipMRI/dataset.py
  recognition/46976916-HipMRI/images/PredictImage1.png
  recognition/46976916-HipMRI/images/PredictImage2.png
  recognition/46976916-HipMRI/images/PredictImage3.png
  recognition/46976916-HipMRI/images/graphs.png
  recognition/46976916-HipMRI/modules.py
  recognition/46976916-HipMRI/predict.py
  recognition/46976916-HipMRI/train.py
  recognition/46976916-HipMRI/utils.py
Labels: _UNet2D, PDF, Preliminary Grade, BB, Updated_Grade

#98 Classifying Alzheimer's Disease using the GFNet on ADNI Dataset (47438886)
  recognition/GFNet-47438886/.gitignore
  recognition/GFNet-47438886/README.md
  recognition/GFNet-47438886/assets/218391_78_AD.jpeg
  recognition/GFNet-47438886/assets/808819_88_NC.jpeg
  recognition/GFNet-47438886/assets/architecture.jpg
  recognition/GFNet-47438886/assets/training_figures.png
  recognition/GFNet-47438886/dataset.py
  recognition/GFNet-47438886/modules.py
  recognition/GFNet-47438886/predict.py
  recognition/GFNet-47438886/requirements.txt
  recognition/GFNet-47438886/train.py
  recognition/GFNet-47438886/utils.py
Labels: _GFNet, PDF, Preliminary Grade, BB

#100 Topic recognition: (46445010) Task 7: VQVAE for HIPMRI prostate cancer image reconstruction.
  recognition/s4644501_VQVAE2/README.md
  recognition/s4644501_VQVAE2/__init__.py
  recognition/s4644501_VQVAE2/config/example_config.yaml
  recognition/s4644501_VQVAE2/dataset.py
  recognition/s4644501_VQVAE2/logging/predict.log
  recognition/s4644501_VQVAE2/logging/training.log
  recognition/s4644501_VQVAE2/metrics.py
  recognition/s4644501_VQVAE2/modules.py
  recognition/s4644501_VQVAE2/predict.py
  recognition/s4644501_VQVAE2/requirements.txt
  recognition/s4644501_VQVAE2/samples/epoch_0.png
  recognition/s4644501_VQVAE2/samples/epoch_1.png
  recognition/s4644501_VQVAE2/samples/epoch_10.png
  recognition/s4644501_VQVAE2/samples/epoch_11.png
  recognition/s4644501_VQVAE2/samples/epoch_12.png
  recognition/s4644501_VQVAE2/samples/epoch_13.png
  recognition/s4644501_VQVAE2/samples/epoch_14.png
  recognition/s4644501_VQVAE2/samples/epoch_15.png
  recognition/s4644501_VQVAE2/samples/epoch_16.png
  recognition/s4644501_VQVAE2/samples/epoch_17.png
  recognition/s4644501_VQVAE2/samples/epoch_18.png
  recognition/s4644501_VQVAE2/samples/epoch_19.png
  recognition/s4644501_VQVAE2/samples/epoch_2.png
  recognition/s4644501_VQVAE2/samples/epoch_3.png
  recognition/s4644501_VQVAE2/samples/epoch_4.png
  recognition/s4644501_VQVAE2/samples/epoch_5.png
  recognition/s4644501_VQVAE2/samples/epoch_6.png
  recognition/s4644501_VQVAE2/samples/epoch_7.png
  recognition/s4644501_VQVAE2/samples/epoch_8.png
  recognition/s4644501_VQVAE2/samples/epoch_9.png
  recognition/s4644501_VQVAE2/samples/predict_set_0.png
  recognition/s4644501_VQVAE2/samples/predict_set_1.png
  recognition/s4644501_VQVAE2/samples/predict_set_2.png
  recognition/s4644501_VQVAE2/train.py
  recognition/s4644501_VQVAE2/utils.py
  recognition/s4644501_VQVAE2/visuals/Decoder.png
  recognition/s4644501_VQVAE2/visuals/Encoder.png
  recognition/s4644501_VQVAE2/visuals/ResBlock.png
  recognition/s4644501_VQVAE2/visuals/VQVAE.png
  recognition/s4644501_VQVAE2/visuals/VectorQuantizer.png
  recognition/s4644501_VQVAE2/visuals/losses.png
  recognition/s4644501_VQVAE2/visuals/ssims.png
  recognition/s4644501_VQVAE2/visuals/vqvae_justify.png
Labels: _VQVAE, PDF, Preliminary Grade, Feedback Needed, BB

#103 GCN for solving Facebook large page-page Network multi-class classification problem.
  recognition/47421347_ivan_sinistyn_GCN/.gitignore
  recognition/47421347_ivan_sinistyn_GCN/README.md
  recognition/47421347_ivan_sinistyn_GCN/dataset.py
  recognition/47421347_ivan_sinistyn_GCN/images/accuracy.png
  recognition/47421347_ivan_sinistyn_GCN/images/loss.png
  recognition/47421347_ivan_sinistyn_GCN/images/model_architecture.png
  recognition/47421347_ivan_sinistyn_GCN/images/scatter.png
  recognition/47421347_ivan_sinistyn_GCN/modules.py
  recognition/47421347_ivan_sinistyn_GCN/predict.py
  recognition/47421347_ivan_sinistyn_GCN/train.py
  recognition/47421347_ivan_sinistyn_GCN/utils.py
Labels: _GNN, PDF, Preliminary Grade, BB

#105 StyleGAN2-ADNI Dataset with t-SNE embeddings -s4854870
  recognition/ADNI-StyleGAN-48548700/.gitignore
  recognition/ADNI-StyleGAN-48548700/README.md
  recognition/ADNI-StyleGAN-48548700/dataset.py
  recognition/ADNI-StyleGAN-48548700/environment.yml
  recognition/ADNI-StyleGAN-48548700/figs/loss/AD_dis_loss.png
  recognition/ADNI-StyleGAN-48548700/figs/loss/AD_gen_loss.png
  recognition/ADNI-StyleGAN-48548700/figs/loss/NC_dis_loss.png
  recognition/ADNI-StyleGAN-48548700/figs/loss/NC_gen_loss.png
  recognition/ADNI-StyleGAN-48548700/figs/model/critic.png
  recognition/ADNI-StyleGAN-48548700/figs/model/generator.png
  recognition/ADNI-StyleGAN-48548700/figs/model/style.png
  recognition/ADNI-StyleGAN-48548700/figs/scans/AD/img_0.png
  recognition/ADNI-StyleGAN-48548700/figs/scans/AD/img_1.png
  recognition/ADNI-StyleGAN-48548700/figs/scans/AD/img_2.png
  recognition/ADNI-StyleGAN-48548700/figs/scans/AD/img_3.png
  recognition/ADNI-StyleGAN-48548700/figs/scans/AD/img_4.png
  recognition/ADNI-StyleGAN-48548700/figs/scans/CN/img_0.png
  recognition/ADNI-StyleGAN-48548700/figs/scans/CN/img_1.png
  recognition/ADNI-StyleGAN-48548700/figs/scans/CN/img_2.png
  recognition/ADNI-StyleGAN-48548700/figs/scans/CN/img_3.png
  recognition/ADNI-StyleGAN-48548700/figs/scans/CN/img_4.png
  recognition/ADNI-StyleGAN-48548700/figs/tsne_style_codes.png
  recognition/ADNI-StyleGAN-48548700/manifold.py
  recognition/ADNI-StyleGAN-48548700/modules.py
  recognition/ADNI-StyleGAN-48548700/predict.py
  recognition/ADNI-StyleGAN-48548700/run_predict.sh
  recognition/ADNI-StyleGAN-48548700/train.py
Labels: _StyleGAN, PDF, Preliminary Grade, BB, Updated_Grade

#106 GNN Network for Multi-Class Node Classification on Facebook Page Data
  recognition/gnn-facebook-46969842/.gitignore
  recognition/gnn-facebook-46969842/README.md
  recognition/gnn-facebook-46969842/assets/GNNuses.png
  recognition/gnn-facebook-46969842/assets/graphexample.png
  recognition/gnn-facebook-46969842/dataset.py
  recognition/gnn-facebook-46969842/modules.py
  recognition/gnn-facebook-46969842/outputs/epoch_losses.png
  recognition/gnn-facebook-46969842/outputs/pca_visualization.png
  recognition/gnn-facebook-46969842/outputs/tsne_visualization.png
  recognition/gnn-facebook-46969842/outputs/umap_visualization.png
  recognition/gnn-facebook-46969842/predict.py
  recognition/gnn-facebook-46969842/train.py
  recognition/gnn-facebook-46969842/utils.py
Labels: _GNN, PDF, Preliminary Grade, BB

#110 S4703527YOLOv8
  recognition/YOLOs4703527/README.md
  recognition/YOLOs4703527/dataset.py
  recognition/YOLOs4703527/figures/Examples-of-images-belonging-to-the-ISIC-2017-dataset.png
  recognition/YOLOs4703527/figures/results_train.png
  recognition/YOLOs4703527/figures/stage0_Conv_features.png
  recognition/YOLOs4703527/figures/stage13_Upsample_features.png
  recognition/YOLOs4703527/figures/stage21_C2f_features.png
  recognition/YOLOs4703527/figures/stage9_SPPF_features.png
  recognition/YOLOs4703527/figures/test_pred.jpg
  recognition/YOLOs4703527/figures/train_batch0.jpg
  recognition/YOLOs4703527/figures/train_batch1.jpg
  recognition/YOLOs4703527/figures/train_batch2.jpg
  recognition/YOLOs4703527/figures/yolo.png
  recognition/YOLOs4703527/modules.py
  recognition/YOLOs4703527/predict.py
  recognition/YOLOs4703527/train.py
  recognition/YOLOs4703527/yolov8n.yaml
Labels: _YOLO, PDF, Preliminary Grade, BB

#111 Topic recognition-3DUnet-48243304
  recognition/3D-UNET--48243304/README.md
  recognition/3D-UNET--48243304/dataset.py
  recognition/3D-UNET--48243304/modules.py
  recognition/3D-UNET--48243304/predict.py
  recognition/3D-UNET--48243304/result/dice.png
  recognition/3D-UNET--48243304/result/prediction_grid_0.png
  recognition/3D-UNET--48243304/result/train.png
  recognition/3D-UNET--48243304/train.py
Labels: _UNet3D, PDF, Preliminary Grade, Commit Log, BB

#114 Problem 5 Submission - ADNI Classification using GFNet
  recognition/GFNet_s4641938/README.md
  recognition/GFNet_s4641938/dataset.py
  recognition/GFNet_s4641938/modules.py
  recognition/GFNet_s4641938/predict.py
  recognition/GFNet_s4641938/train.py
Labels: _GFNet, PDF, Preliminary Grade, BB

#115 Implement GCN for Node Classification on Facebook Dataset
  recognition/GCN_Recognition_HemilShah/Epoch_Iterations.png
  recognition/GCN_Recognition_HemilShah/Evaluation_results.png
  recognition/GCN_Recognition_HemilShah/README.md
  recognition/GCN_Recognition_HemilShah/Umap_Visualisation.png
  recognition/GCN_Recognition_HemilShah/dataset.py
  recognition/GCN_Recognition_HemilShah/main.py
  recognition/GCN_Recognition_HemilShah/modules.py
  recognition/GCN_Recognition_HemilShah/predict.py
  recognition/GCN_Recognition_HemilShah/preprocess.py
  recognition/GCN_Recognition_HemilShah/train.py
  recognition/GCN_Recognition_HemilShah/visualise.py
Labels: _GNN, PDF, Preliminary Grade, Commit Log, Feedback Needed, BB, Updated_Grade

#116 3D Unet for Segmentation Of HipMRI data
  recognition/3D-UNet-WilliamMercado/.gitignore
  recognition/3D-UNet-WilliamMercado/ExampleResults.png
  recognition/3D-UNet-WilliamMercado/README.md
  recognition/3D-UNet-WilliamMercado/Test_Train_loss.png
  recognition/3D-UNet-WilliamMercado/const.py
  recognition/3D-UNet-WilliamMercado/dataset.py
  recognition/3D-UNet-WilliamMercado/modules.py
  recognition/3D-UNet-WilliamMercado/predict.py
  recognition/3D-UNet-WilliamMercado/train.py
  recognition/3D-UNet-WilliamMercado/util.py
Labels: _UNet3D, PDF, Preliminary Grade, BB, Updated_Grade

#117 Vision Transformer for Alzheimer's Detection
  recognition/CN_AD_Classification_46991656/README.md
  recognition/CN_AD_Classification_46991656/dataset.py
  recognition/CN_AD_Classification_46991656/graphs/training_metrics_plot.png
  recognition/CN_AD_Classification_46991656/modules.py
  recognition/CN_AD_Classification_46991656/predict.py
  recognition/CN_AD_Classification_46991656/train.py
Labels: _ViT, PDF, Preliminary Grade, BB

#119 Topic recognition VQ-VAE + PixelCNN for Image Generation on Hip MRI
  recognition/VQVAE_PixelCNN/Images/CNN_loss.png
  recognition/VQVAE_PixelCNN/Images/generated_image.jpg
  recognition/VQVAE_PixelCNN/Images/latent_space.png
  recognition/VQVAE_PixelCNN/Images/loss_curve50.png
  recognition/VQVAE_PixelCNN/Images/loss_curve50beyond.png
  recognition/VQVAE_PixelCNN/Images/original_image.jpg
  recognition/VQVAE_PixelCNN/Images/quantized_space.png
  recognition/VQVAE_PixelCNN/Images/reconstructed_image.png
  recognition/VQVAE_PixelCNN/Images/sample_visualization.png
  recognition/VQVAE_PixelCNN/Images/vqvae.model.png
  recognition/VQVAE_PixelCNN/README.md
  recognition/VQVAE_PixelCNN/dataset.py
  recognition/VQVAE_PixelCNN/environment.yml
  recognition/VQVAE_PixelCNN/modules.py
  recognition/VQVAE_PixelCNN/predict.py
  recognition/VQVAE_PixelCNN/prediction_utils.py
  recognition/VQVAE_PixelCNN/requirements.txt
  recognition/VQVAE_PixelCNN/train_PixelCNN.py
  recognition/VQVAE_PixelCNN/train_VQVAE.py
  recognition/VQVAE_PixelCNN/visualization_utils.py
Labels: _VQVAE, PDF, Preliminary Grade, BB

#120 ADNI alzheimers classification with ViT s4743401
  recognition/s4743401_project/GIT_IGNORE ADD THISSSSS
  recognition/s4743401_project/README.MD
  recognition/s4743401_project/dataset.py
  recognition/s4743401_project/graphs/.DS_Store
  recognition/s4743401_project/graphs/Loss_graph.PNG
  recognition/s4743401_project/graphs/Test_accuracy_and_classification_report.PNG
  recognition/s4743401_project/graphs/confusion_matrix.png
  recognition/s4743401_project/graphs/files.png
  recognition/s4743401_project/graphs/prediction_upon_supplied_image_path.png
  recognition/s4743401_project/modules.py
  recognition/s4743401_project/predict.py
  recognition/s4743401_project/train.py
Labels: _ViT, PDF, Preliminary Grade, BB, Updated_Grade

#122 Segmentation of Hip MRIs using a 2D UNet
  recognition/2D UNet (46992701)/README.md
  recognition/2D UNet (46992701)/dataset.py
  recognition/2D UNet (46992701)/modules.py
  recognition/2D UNet (46992701)/params.py
  recognition/2D UNet (46992701)/predict.py
  recognition/2D UNet (46992701)/readme-images/u-net-architecture.png
  recognition/2D UNet (46992701)/train.py
Labels: _UNet2D, PDF, Preliminary Grade, BB

#123 Classifying the ISIC 2020 kaggle challenge data set with the use of a Siamese Network - 47044232
  recognition/siamese-classifier-47044232/.gitignore
  recognition/siamese-classifier-47044232/README.md
  recognition/siamese-classifier-47044232/config.py
  recognition/siamese-classifier-47044232/dataset.py
  recognition/siamese-classifier-47044232/images/confusion_matrix.png
  recognition/siamese-classifier-47044232/images/loss_binaryclassifier.png
  recognition/siamese-classifier-47044232/images/loss_siamesenetwork.png
  recognition/siamese-classifier-47044232/images/sample_images_no_augs.png
  recognition/siamese-classifier-47044232/images/sample_images_w_augs.png
  recognition/siamese-classifier-47044232/images/siamese_diagram.png
  recognition/siamese-classifier-47044232/images/triplet_loss_diagram1.png
  recognition/siamese-classifier-47044232/images/triplet_loss_diagram2.png
  recognition/siamese-classifier-47044232/images/triplet_loss_diagram3.png
  recognition/siamese-classifier-47044232/images/tsne_scatterplot.png
  recognition/siamese-classifier-47044232/modules.py
  recognition/siamese-classifier-47044232/predict.py
  recognition/siamese-classifier-47044232/train.py
  recognition/siamese-classifier-47044232/utils.py
Labels: _Siamese, PDF, Preliminary Grade, BB

#125 COMP3710 StyleGAN Implementation for ADNI Brain Image Generation
  recognition/StyleGAN-46988133/.gitignore
  recognition/StyleGAN-46988133/Assets/256x256_adni_sample_images.png
  recognition/StyleGAN-46988133/Assets/32x32_AD_and_CN_UMAP_plot.png
  recognition/StyleGAN-46988133/Assets/32x32_real_versus_fake_images.png
  recognition/StyleGAN-46988133/Assets/32x32_training_loss_plot.png
  recognition/StyleGAN-46988133/Assets/64x64_AD_and_CN_UMAP_plot.png
  recognition/StyleGAN-46988133/Assets/8x8_Wasserstein_Loss.png
  recognition/StyleGAN-46988133/Assets/GAN - GEN and DISC.png
  recognition/StyleGAN-46988133/Assets/No_ProGAN_Arch_Result.png
  recognition/StyleGAN-46988133/Assets/StyleGAN Architecture.png
  recognition/StyleGAN-46988133/README.md
  recognition/StyleGAN-46988133/dataset.py
  recognition/StyleGAN-46988133/environment.yml
  recognition/StyleGAN-46988133/hyperparameters.py
  recognition/StyleGAN-46988133/modules.py
  recognition/StyleGAN-46988133/predict.py
  recognition/StyleGAN-46988133/train.py
  recognition/StyleGAN-46988133/utils.py
Labels: _StyleGAN, PDF, Preliminary Grade, BB

#129 s4838078-2D-UNet
  recognition/s48380786-2DUnet/Finalised/TerminalOutput.png
  recognition/s48380786-2DUnet/Finalised/average_dice_score_per_class.png
  recognition/s48380786-2DUnet/Finalised/loss_plot.png
  recognition/s48380786-2DUnet/Finalised/predicted_mask_channel_0.png
  recognition/s48380786-2DUnet/Finalised/predicted_mask_channel_1.png
  recognition/s48380786-2DUnet/Finalised/predicted_mask_channel_2.png
  recognition/s48380786-2DUnet/Finalised/predicted_mask_channel_3.png
  recognition/s48380786-2DUnet/Finalised/predicted_mask_channel_4.png
  recognition/s48380786-2DUnet/Finalised/predicted_mask_channel_5.png
  recognition/s48380786-2DUnet/dataset.py
  recognition/s48380786-2DUnet/modules.py
  recognition/s48380786-2DUnet/predict.py
  recognition/s48380786-2DUnet/readme.md
  recognition/s48380786-2DUnet/train.py
  recognition/s48380786-2DUnet/utils.py
Labels: _UNet2D, PDF, Preliminary Grade, Feedback Needed, BB, Updated_Grade

#135 Add Siamese Network Classifier for Melanoma Detection- s46972691
  recognition/SiameseClassifier_46972691/README.md
  recognition/SiameseClassifier_46972691/dataset.py
  recognition/SiameseClassifier_46972691/images/confusion_matrix.png
  recognition/SiameseClassifier_46972691/images/example_benign.jpg
  recognition/SiameseClassifier_46972691/images/example_malignant.jpg
  recognition/SiameseClassifier_46972691/images/roc_curve.png
  recognition/SiameseClassifier_46972691/modules.py
  recognition/SiameseClassifier_46972691/predict.py
  recognition/SiameseClassifier_46972691/train.py
Labels: _Siamese, PDF, Preliminary Grade, BB, Updated_Grade

#136 HipMRI 2D U-Net 43950214
  recognition/HipMRI_UNet_Al_Holliday_43950214/README.md
  recognition/HipMRI_UNet_Al_Holliday_43950214/README.pdf
  recognition/HipMRI_UNet_Al_Holliday_43950214/comp3710_env.yml
  recognition/HipMRI_UNet_Al_Holliday_43950214/comp3710_reduced_env.yml
  recognition/HipMRI_UNet_Al_Holliday_43950214/dataset.py
  recognition/HipMRI_UNet_Al_Holliday_43950214/dice.py
  recognition/HipMRI_UNet_Al_Holliday_43950214/hipMri_main.py
  recognition/HipMRI_UNet_Al_Holliday_43950214/hipmri_slices_seg_test.txt
  recognition/HipMRI_UNet_Al_Holliday_43950214/hipmri_slices_seg_train.txt
  recognition/HipMRI_UNet_Al_Holliday_43950214/hipmri_slices_seg_train_128.txt
  recognition/HipMRI_UNet_Al_Holliday_43950214/hipmri_slices_seg_train_144.txt
  recognition/HipMRI_UNet_Al_Holliday_43950214/hipmri_slices_seg_validate.txt
  recognition/HipMRI_UNet_Al_Holliday_43950214/hipmri_slices_test.txt
  recognition/HipMRI_UNet_Al_Holliday_43950214/hipmri_slices_train.txt
  recognition/HipMRI_UNet_Al_Holliday_43950214/hipmri_slices_validate.txt
  recognition/HipMRI_UNet_Al_Holliday_43950214/modules.py
  recognition/HipMRI_UNet_Al_Holliday_43950214/predict.py
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/alt_unet.PNG
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/dice_plot_16-10-24.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/hipMri_test0_orig_img.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/hipMri_test0_orig_seg_map.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/hipMri_test0_seg_pred_24-10-24.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/hipMri_val0_seg_pred_24-10-24.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/hipmri_loss_plot_16-10-24.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/hipmri_loss_plot_24-10-24.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/hipmri_test0_seg_pred2.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/hipmri_val0_orig_img.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/hipmri_val0_seg_orig.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/test_dice_24-10-24.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/u-net-architecture.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/report_assets/val_dice_24-10-24.png
  recognition/HipMRI_UNet_Al_Holliday_43950214/testThing.py
  recognition/HipMRI_UNet_Al_Holliday_43950214/train.py
Labels: _UNet2D, PDF, Preliminary Grade, BB, Updated_Grade

#139 vqvae_S47491283
  recognition/VQ-VAES4749128/Images/26_SSIM.png
  recognition/VQ-VAES4749128/Images/8490f2cf-60f9-4a96-a8b3-1a1ab3596c96.png
  recognition/VQ-VAES4749128/Images/ab5d85c5-c799-4ed0-80a1-f515cebb4e0d.png
  recognition/VQ-VAES4749128/Images/loss.png
  recognition/VQ-VAES4749128/Images/ssim.png
  recognition/VQ-VAES4749128/Images/test.txt
  recognition/VQ-VAES4749128/README.md
  recognition/VQ-VAES4749128/dataset.py
  recognition/VQ-VAES4749128/modules.py
  recognition/VQ-VAES4749128/predict.py
  recognition/VQ-VAES4749128/train.py
Labels: _VQVAE, PDF, Preliminary Grade, BB

#140 S4748611 StyleGAN for ADNI Dataset with TSNE Embedding
  recognition/S4748611 StyleGAN ADNI Brain Dataset/README.md
  recognition/S4748611 StyleGAN ADNI Brain Dataset/dataset.py
  recognition/S4748611 StyleGAN ADNI Brain Dataset/images/AD_image.png
  recognition/S4748611 StyleGAN ADNI Brain Dataset/images/AD_images.gif
  recognition/S4748611 StyleGAN ADNI Brain Dataset/images/Discriminator Loss AD.png
  recognition/S4748611 StyleGAN ADNI Brain Dataset/images/Discriminator Loss NC.png
  recognition/S4748611 StyleGAN ADNI Brain Dataset/images/Generator Loss AD.png
  recognition/S4748611 StyleGAN ADNI Brain Dataset/images/Generator Loss NC.png
  recognition/S4748611 StyleGAN ADNI Brain Dataset/images/NC_image.png
  recognition/S4748611 StyleGAN ADNI Brain Dataset/images/NC_images.gif
  recognition/S4748611 StyleGAN ADNI Brain Dataset/images/model_architecture.png
  recognition/S4748611 StyleGAN ADNI Brain Dataset/images/tsne.png
  recognition/S4748611 StyleGAN ADNI Brain Dataset/modules.py
  recognition/S4748611 StyleGAN ADNI Brain Dataset/predict.py
  recognition/S4748611 StyleGAN ADNI Brain Dataset/train.py
Labels: _StyleGAN, PDF, Preliminary Grade, BB, Updated_Grade

#147 ViT and CvT Models for Alzheimer Classification (ADNI Dataset) - Jack Fuller - 47446096
  recognition/alzheimers_47446096/.gitignore
  recognition/alzheimers_47446096/README.md
  recognition/alzheimers_47446096/dataset.py
  recognition/alzheimers_47446096/imgs/CvT Architecture.png
  recognition/alzheimers_47446096/imgs/trainAccuracyPlotCvT.jpg
  recognition/alzheimers_47446096/imgs/trainAccuracyPlotViT.jpg
  recognition/alzheimers_47446096/imgs/trainLossPlotCvT.jpg
  recognition/alzheimers_47446096/imgs/trainLossPlotViT.jpg
  recognition/alzheimers_47446096/imgs/valAccuracyPlotCvT.jpg
  recognition/alzheimers_47446096/imgs/valAccuracyPlotViT.jpg
  recognition/alzheimers_47446096/imgs/valLossPlotCvT.jpg
  recognition/alzheimers_47446096/imgs/valLossPlotViT.jpg
  recognition/alzheimers_47446096/imgs/vit_architecture.jpg
  recognition/alzheimers_47446096/modules.py
  recognition/alzheimers_47446096/predict.py
  recognition/alzheimers_47446096/train.py
Labels: _ViT, PDF, Preliminary Grade, BB

#148 s4744245_2DUNET_PROJ
  recognition/2DUnet_Prostate_s4744245/README.md
  recognition/2DUnet_Prostate_s4744245/dataset.py
  recognition/2DUnet_Prostate_s4744245/modules.py
  recognition/2DUnet_Prostate_s4744245/predict.py
  recognition/2DUnet_Prostate_s4744245/train.py
  recognition/2DUnet_Prostate_s4744245/util.py
Labels: _UNet2D, PDF, Preliminary Grade, Feedback Needed, BB

#150 s4909464 Graph Neural Network
  recognition/49094642 Graph Neural Network/README.md
  recognition/49094642 Graph Neural Network/dataset.py
  recognition/49094642 Graph Neural Network/images/data example.png
  recognition/49094642 Graph Neural Network/images/model structure.png
  recognition/49094642 Graph Neural Network/modules.py
  recognition/49094642 Graph Neural Network/outputs/accuracy curve.png
  recognition/49094642 Graph Neural Network/outputs/loss curve.png
  recognition/49094642 Graph Neural Network/outputs/printing results.png
  recognition/49094642 Graph Neural Network/outputs/umap projection.png
  recognition/49094642 Graph Neural Network/predict.py
  recognition/49094642 Graph Neural Network/train.py
  recognition/49094642 Graph Neural Network/utils.py
Labels: _GNN, PDF, Preliminary Grade, BB, Updated_Grade

#151 S4531382 ADNI GFNet Model
  recognition/GFnet Model for ADNI dataset s4531382/GFNET overall architecture.png
  recognition/GFnet Model for ADNI dataset s4531382/README.md
  recognition/GFnet Model for ADNI dataset s4531382/dataset.py
  recognition/GFnet Model for ADNI dataset s4531382/loss_plot.png
  recognition/GFnet Model for ADNI dataset s4531382/model.py
  recognition/GFnet Model for ADNI dataset s4531382/predict.py
  recognition/GFnet Model for ADNI dataset s4531382/train.py
Labels: _GFNet, PDF, Preliminary Grade, BB

#152 GCN_48792286
  recognition/GNN_48792286/GCN.jpg
  recognition/GNN_48792286/README.md
  recognition/GNN_48792286/dataset.py
  recognition/GNN_48792286/loss_accuracy.png
  recognition/GNN_48792286/modules.py
  recognition/GNN_48792286/predict.py
  recognition/GNN_48792286/t-SNE.png
  recognition/GNN_48792286/train.py
  recognition/GNN_48792286/type.png
Labels: _GNN, PDF, Preliminary Grade, BB

#153 GFNet-H-B Model Implementation and Supporting Files (Student ID: S47779628)
  recognition/GFNet_Shogo/README.md
  recognition/GFNet_Shogo/__pycache__/dataset.cpython-312.pyc
  recognition/GFNet_Shogo/__pycache__/modules.cpython-312.pyc
  recognition/GFNet_Shogo/__pycache__/utils.cpython-312.pyc
  recognition/GFNet_Shogo/dataset.py
  recognition/GFNet_Shogo/images/architecture.png
  recognition/GFNet_Shogo/images/hyperparameter_importance.png
  recognition/GFNet_Shogo/images/loss_per_epoch.png
  recognition/GFNet_Shogo/images/loss_per_trial.png
  recognition/GFNet_Shogo/modules.py
  recognition/GFNet_Shogo/predict.py
  recognition/GFNet_Shogo/train.py
  recognition/GFNet_Shogo/utils.py
Labels: _GFNet, PDF, Preliminary Grade, BB

#155 s4704935 3D Improved UNet
  recognition/47049358/.gitignore
  recognition/47049358/README.md
  recognition/47049358/dataset.py
  recognition/47049358/documentation/dice_coefs_test_dice_ce_loss.png
  recognition/47049358/documentation/example_labels_and_images.png
  recognition/47049358/documentation/ground_truths_dice_ce_loss.png
  recognition/47049358/documentation/model_architecture.png
  recognition/47049358/documentation/predictions_dice_ce_loss.png
  recognition/47049358/documentation/unet_dice_coefs_over_epochs_dice_ce_loss.png
  recognition/47049358/modules.py
  recognition/47049358/predict.py
  recognition/47049358/requirements.txt
  recognition/47049358/train.py
Labels: _UNet3D, PDF, Preliminary Grade, BB, Updated_Grade

#156 StyleGAN Model ADNI Dataset 47492347
  recognition/StyleGAN_Jason_47492347/README.md
  recognition/StyleGAN_Jason_47492347/assets/12AD_lossplot_batch.png
  recognition/StyleGAN_Jason_47492347/assets/12AD_lossplot_epoch.png
  recognition/StyleGAN_Jason_47492347/assets/12NC_lossplot_batch.png
  recognition/StyleGAN_Jason_47492347/assets/12NC_lossplot_epoch.png
  recognition/StyleGAN_Jason_47492347/assets/12_Epoch_AD_Generations_4x4.png
  recognition/StyleGAN_Jason_47492347/assets/12_Epoch_NC_Generations_4x4.png
  recognition/StyleGAN_Jason_47492347/assets/20AD_lossplot_batch.png
  recognition/StyleGAN_Jason_47492347/assets/20_Epoch_AD_Generations_4x4.png
  recognition/StyleGAN_Jason_47492347/assets/2_Epoch_AD_Generations_4x4.png
  recognition/StyleGAN_Jason_47492347/assets/AdaIN_formula.png
  recognition/StyleGAN_Jason_47492347/assets/GAN-StyleGAN-Comparison.png
  recognition/StyleGAN_Jason_47492347/assets/Generative_adversarial_network.svg.png
  recognition/StyleGAN_Jason_47492347/assets/StyleGAN_architecture.png
  recognition/StyleGAN_Jason_47492347/assets/UMAP.png
  recognition/StyleGAN_Jason_47492347/assets/UMAP_ADNI.png
  recognition/StyleGAN_Jason_47492347/assets/feature_map.png
  recognition/StyleGAN_Jason_47492347/dataset.py
  recognition/StyleGAN_Jason_47492347/embedding.py
  recognition/StyleGAN_Jason_47492347/modules.py
  recognition/StyleGAN_Jason_47492347/predict.py
  recognition/StyleGAN_Jason_47492347/settings.py
  recognition/StyleGAN_Jason_47492347/train.py
  recognition/StyleGAN_Jason_47492347/utils.py
Labels: _StyleGAN, PDF, Preliminary Grade, BB

#159 2D Image Segmentation of MR images of pelvis using UNet
  recognition/46444273-2D-unet-segmentation/README.md
  recognition/46444273-2D-unet-segmentation/assets/accuracy.png
  recognition/46444273-2D-unet-segmentation/assets/accuracy_do.png
  recognition/46444273-2D-unet-segmentation/assets/dice_coef_prostate.png
  recognition/46444273-2D-unet-segmentation/assets/dice_coef_prostate_do.png
  recognition/46444273-2D-unet-segmentation/assets/dice_loss.png
  recognition/46444273-2D-unet-segmentation/assets/dice_loss_do.png
  recognition/46444273-2D-unet-segmentation/assets/predict.png
  recognition/46444273-2D-unet-segmentation/assets/u-net-architecture.png
  recognition/46444273-2D-unet-segmentation/dataset.py
  recognition/46444273-2D-unet-segmentation/modules.py
  recognition/46444273-2D-unet-segmentation/paths.py
  recognition/46444273-2D-unet-segmentation/predict.py
  recognition/46444273-2D-unet-segmentation/requirements.txt
  recognition/46444273-2D-unet-segmentation/train.py
  recognition/46444273-2D-unet-segmentation/util.py
Labels: _UNet2D, PDF, Preliminary Grade, BB, Updated_Grade

#160 VQVAE Model for HipMRI Study Image Reconstruction
  recognition/vqvae_Carl_Chang/.gitignore
  recognition/vqvae_Carl_Chang/README.md
  recognition/vqvae_Carl_Chang/dataset.py
  recognition/vqvae_Carl_Chang/modules.py
  recognition/vqvae_Carl_Chang/predict.py
  recognition/vqvae_Carl_Chang/train.py
  recognition/vqvae_Carl_Chang/utils.py
Labels: _VQVAE, PDF, Preliminary Grade, BB

#161 Alzheimers classification using Swin Transfomer (46983156)
  recognition/wills_harrison_s4698315_adni_transformer/.gitignore
  recognition/wills_harrison_s4698315_adni_transformer/README.md
  recognition/wills_harrison_s4698315_adni_transformer/config.yaml
  recognition/wills_harrison_s4698315_adni_transformer/dataset.py
  recognition/wills_harrison_s4698315_adni_transformer/datasetexploration.ipynb
  recognition/wills_harrison_s4698315_adni_transformer/images/AD/1.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/AD/2.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/AD/3.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/NC/1.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/NC/2.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/NC/3.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/confusion.png
  recognition/wills_harrison_s4698315_adni_transformer/images/image.png
  recognition/wills_harrison_s4698315_adni_transformer/images/predictions/AD1.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/predictions/AD2.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/predictions/AD3.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/predictions/AD4.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/predictions/AD5.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/predictions/NC1.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/predictions/NC2.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/predictions/NC3.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/predictions/NC4.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/predictions/Nc5.jpeg
  recognition/wills_harrison_s4698315_adni_transformer/images/w_plot.png
  recognition/wills_harrison_s4698315_adni_transformer/modules.py
  recognition/wills_harrison_s4698315_adni_transformer/predict.py
  recognition/wills_harrison_s4698315_adni_transformer/preprocess.py
  recognition/wills_harrison_s4698315_adni_transformer/requirements.txt
  recognition/wills_harrison_s4698315_adni_transformer/train.py
Labels: _ViT, PDF, Preliminary Grade, BB, Updated_Grade

#162 DeiT (small) on ADNI Dataset | s4744343
  recognition/GFNet_Alzheimer_Classification_47443433/.gitignore
  recognition/GFNet_Alzheimer_Classification_47443433/README.md
  recognition/GFNet_Alzheimer_Classification_47443433/dataset.py
  recognition/GFNet_Alzheimer_Classification_47443433/images/ad.jpeg
  recognition/GFNet_Alzheimer_Classification_47443433/images/confidence_chart.png
  recognition/GFNet_Alzheimer_Classification_47443433/images/cvt.png
  recognition/GFNet_Alzheimer_Classification_47443433/images/deit.png
  recognition/GFNet_Alzheimer_Classification_47443433/images/image.png
  recognition/GFNet_Alzheimer_Classification_47443433/images/mri_og.png
  recognition/GFNet_Alzheimer_Classification_47443433/images/nc.png
  recognition/GFNet_Alzheimer_Classification_47443433/images/pit.png
  recognition/GFNet_Alzheimer_Classification_47443433/images/plot_earlystop.png
  recognition/GFNet_Alzheimer_Classification_47443433/images/preprocessed_mri.png
  recognition/GFNet_Alzheimer_Classification_47443433/images/twins.png
  recognition/GFNet_Alzheimer_Classification_47443433/modules.py
  recognition/GFNet_Alzheimer_Classification_47443433/predict.py
  recognition/GFNet_Alzheimer_Classification_47443433/train.py
Labels: _ViT, PDF, Preliminary Grade, Feedback Needed, BB

#163 Topic recognition
  recognition/FacebookGNN-47801725/README.md
  recognition/FacebookGNN-47801725/__pycache__/data.cpython-38.pyc
  recognition/FacebookGNN-47801725/__pycache__/modules.cpython-38.pyc
  recognition/FacebookGNN-47801725/best_gcn_model.pth
  recognition/FacebookGNN-47801725/data.py
  recognition/FacebookGNN-47801725/images/TSNE_Before.png
  recognition/FacebookGNN-47801725/images/The-structure-of-GCN-model-Each-node-in-the-input-graph-represents-a-sample-with-a.png
  recognition/FacebookGNN-47801725/images/Training Process.png
  recognition/FacebookGNN-47801725/images/Training and Validation loss.png
  recognition/FacebookGNN-47801725/images/Tsne.png
  recognition/FacebookGNN-47801725/images/Validation and Test Accuracy.png
  recognition/FacebookGNN-47801725/modules.py
  recognition/FacebookGNN-47801725/predict.py
  recognition/FacebookGNN-47801725/train.py
Labels: _GNN, PDF, Preliminary Grade, Feedback Needed, BB

#164 HipMRI 2D U-Net
  recognition/s4904983_UNET/README.md
  recognition/s4904983_UNET/dataset.py
  recognition/s4904983_UNET/image.png
  recognition/s4904983_UNET/modules.py
  recognition/s4904983_UNET/predict.py
  recognition/s4904983_UNET/prediction.png
  recognition/s4904983_UNET/requirements.txt
  recognition/s4904983_UNET/train.py
Labels: _UNet2D, PDF, Preliminary Grade, BB, Updated_Grade

#171 Topic recognition
  recognition/yolo-48097824/README.md
  recognition/yolo-48097824/dataset.py
  recognition/yolo-48097824/modules.py
  recognition/yolo-48097824/predict.py
  recognition/yolo-48097824/readmeimages/F1_curve.png
  recognition/yolo-48097824/readmeimages/F1_curve.png:Zone.Identifier
  recognition/yolo-48097824/readmeimages/ObjectDetection.PNG
  recognition/yolo-48097824/readmeimages/P_curve.png
  recognition/yolo-48097824/readmeimages/P_curve.png:Zone.Identifier
  recognition/yolo-48097824/readmeimages/results.png
  recognition/yolo-48097824/readmeimages/results.png:Zone.Identifier
  recognition/yolo-48097824/readmeimages/val_batch0_pred.jpg
  recognition/yolo-48097824/readmeimages/val_batch0_pred.jpg:Zone.Identifier
  recognition/yolo-48097824/readmeimages/val_batch1_pred.jpg
  recognition/yolo-48097824/readmeimages/val_batch1_pred.jpg:Zone.Identifier
  recognition/yolo-48097824/readmeimages/val_batch2_pred.jpg
  recognition/yolo-48097824/readmeimages/val_batch2_pred.jpg:Zone.Identifier
  recognition/yolo-48097824/train.py
  recognition/yolo-48097824/traindata.yaml
Labels: _YOLO, PDF, Preliminary Grade, BB

#179 HipMRI VQVAE generative model - s4742487
  recognition/HipMRI_VQVAE_47424870/README.md
  recognition/HipMRI_VQVAE_47424870/dataset.py
  recognition/HipMRI_VQVAE_47424870/modules.py
  recognition/HipMRI_VQVAE_47424870/predict.py
  recognition/HipMRI_VQVAE_47424870/readme_images/image-1.png
  recognition/HipMRI_VQVAE_47424870/readme_images/image.png
  recognition/HipMRI_VQVAE_47424870/readme_images/reconstructed_0.png
  recognition/HipMRI_VQVAE_47424870/readme_images/reconstructed_19.png
  recognition/HipMRI_VQVAE_47424870/readme_images/reconstructed_2.png
  recognition/HipMRI_VQVAE_47424870/readme_images/reconstructed_29.png
  recognition/HipMRI_VQVAE_47424870/readme_images/training_validation_metrics.png
  recognition/HipMRI_VQVAE_47424870/train.py
Labels: _VQVAE, PDF, Preliminary Grade, _After cutoff, BB

#180 Topic 8: StyleGAN using PyTorch on ADNI dataset
  recognition/StyleGAN_47462153/README.md
  recognition/StyleGAN_47462153/dataset.py
  recognition/StyleGAN_47462153/modules.py
  recognition/StyleGAN_47462153/predict.py
  recognition/StyleGAN_47462153/readme/1182968_94.jpeg
  recognition/StyleGAN_47462153/readme/388206_78.jpeg
  recognition/StyleGAN_47462153/readme/Standard-StyleGAN-architecture-In-this-figure-FC-stands-for-fully-connected-layer-A.png
  recognition/StyleGAN_47462153/readme/generated_seed_0.png
  recognition/StyleGAN_47462153/readme/generated_seed_9.png
  recognition/StyleGAN_47462153/readme/loss_plot.png
  recognition/StyleGAN_47462153/readme/tsne_embeddings.png
  recognition/StyleGAN_47462153/requirements.txt
  recognition/StyleGAN_47462153/train.py
Labels: _StyleGAN, PDF, Preliminary Grade, _After cutoff, BB

#184 2D U-Net Segmentation of Prostate MRI Slices
  recognition/Prostate-2D-Segmentation-47484212/README.md
  recognition/Prostate-2D-Segmentation-47484212/dataset.py
  recognition/Prostate-2D-Segmentation-47484212/imgs/Epoch-Losses.png
  recognition/Prostate-2D-Segmentation-47484212/imgs/ExampleMask.png
  recognition/Prostate-2D-Segmentation-47484212/imgs/u-net-architecture.png
  recognition/Prostate-2D-Segmentation-47484212/modules.py
  recognition/Prostate-2D-Segmentation-47484212/predict.py
  recognition/Prostate-2D-Segmentation-47484212/train.py
  recognition/Prostate-2D-Segmentation-47484212/utils.py
Labels: _UNet2D, PDF, Preliminary Grade, _After cutoff, Completed, Updated_Grade

#189 GCN for facebook dataset classification
  recognition/GCN_s4491308/GCN_image.jpg
  recognition/GCN_s4491308/README.md
  recognition/GCN_s4491308/dataset.py
  recognition/GCN_s4491308/modules.py
  recognition/GCN_s4491308/predict.py
  recognition/GCN_s4491308/tSNE-embedding.png
  recognition/GCN_s4491308/train.py
  recognition/GCN_s4491308/training_validation_loss.png
Labels: _GNN, PDF, Preliminary Grade, _After cutoff, BB, Updated_Grade

#190 MRI Segmentation 3D U-Net
  recognition/SegmentProstate_s4648123/README.md
  recognition/SegmentProstate_s4648123/config.py
  recognition/SegmentProstate_s4648123/dataset.py
  recognition/SegmentProstate_s4648123/images/RandCropByLabelClasses_monai.png
  recognition/SegmentProstate_s4648123/images/dice_scores.png
  recognition/SegmentProstate_s4648123/images/segmentation_animation.gif
  recognition/SegmentProstate_s4648123/images/segmentation_visualization.png
  recognition/SegmentProstate_s4648123/images/train_val_loss.png
  recognition/SegmentProstate_s4648123/images/unet-architecture.png
  recognition/SegmentProstate_s4648123/modules.py
  recognition/SegmentProstate_s4648123/predict.py
  recognition/SegmentProstate_s4648123/train.py
  recognition/SegmentProstate_s4648123/utils.py
Labels: _UNet3D, PDF, Preliminary Grade, Feedback Needed, _After cutoff, BB, Updated_Grade

#185 ViT - 47364417 (ADNI)
  recognition/47364417/README.md
  recognition/47364417/assets/AD.jpeg
  recognition/47364417/assets/NC.jpeg
  recognition/47364417/assets/accuracy_vs_epochs.png
  recognition/47364417/assets/confusion_matrix.png
  recognition/47364417/assets/loss_vs_epochs.png
  recognition/47364417/assets/output.png
  recognition/47364417/assets/transformer.png
  recognition/47364417/dataset.py
  recognition/47364417/modules.py
  recognition/47364417/predict.py
  recognition/47364417/requirements.txt
  recognition/47364417/train.py
Labels: _ViT, PDF, Preliminary Grade, Commit Log, _After cutoff, BB, Completed, Updated_Grade

#141 Classifying Alzheimers with Vision Transformer (47436761)
  recognition/47436761-alzheimer/README.md
  recognition/47436761-alzheimer/dataset.py
  recognition/47436761-alzheimer/environment.yaml
  recognition/47436761-alzheimer/images/confusion_matrix.png
  recognition/47436761-alzheimer/images/losses.png
  recognition/47436761-alzheimer/images/sample_input.png
  recognition/47436761-alzheimer/images/sample_output.png
  recognition/47436761-alzheimer/images/vit_diagram.png
  recognition/47436761-alzheimer/modules.py
  recognition/47436761-alzheimer/predict.py
  recognition/47436761-alzheimer/train.py
Labels: _ViT, PDF, Preliminary Grade, BB, Completed

#127 Topic Recognition Project 5 (s4642941)
  recognition/Vision Transformer for ADNI brian data/README.md
  recognition/Vision Transformer for ADNI brian data/dataset.py
  recognition/Vision Transformer for ADNI brian data/images/GFNet_Architecture.png
  recognition/Vision Transformer for ADNI brian data/images/brain_scan.jpeg
  recognition/Vision Transformer for ADNI brian data/images/brain_scan2.jpeg
  recognition/Vision Transformer for ADNI brian data/images/train_out.png
  recognition/Vision Transformer for ADNI brian data/images/train_out2.png
  recognition/Vision Transformer for ADNI brian data/modules.py
  recognition/Vision Transformer for ADNI brian data/predict.py
  recognition/Vision Transformer for ADNI brian data/train.py
Labels: _GFNet, PDF, Preliminary Grade, BB, Completed

#91 3D-Improved-UNet pull request Yitian Guo s4706162
  recognition/UNet_Improved3D_YitianGuo/Class_0_best_slice_segmentation_result.png
  recognition/UNet_Improved3D_YitianGuo/Class_1_best_slice_segmentation_result.png
  recognition/UNet_Improved3D_YitianGuo/Class_2_best_slice_segmentation_result.png
  recognition/UNet_Improved3D_YitianGuo/Class_3_best_slice_segmentation_result.png
  recognition/UNet_Improved3D_YitianGuo/Class_4_best_slice_segmentation_result.png
  recognition/UNet_Improved3D_YitianGuo/Class_5_best_slice_segmentation_result.png
  recognition/UNet_Improved3D_YitianGuo/README.md
  recognition/UNet_Improved3D_YitianGuo/dataset.py
  recognition/UNet_Improved3D_YitianGuo/environment.yml
  recognition/UNet_Improved3D_YitianGuo/modules.py
  recognition/UNet_Improved3D_YitianGuo/predict.py
  recognition/UNet_Improved3D_YitianGuo/train.py
  recognition/UNet_Improved3D_YitianGuo/training_metrics_category_dice.png
  recognition/UNet_Improved3D_YitianGuo/unet architecture.png
Labels: _UNet3D, PDF, Preliminary Grade, BB, Completed, Updated_Grade

#55 Siamese Neural Networks on the Classification of Melanoma - 48191889
  recognition/SiameseNN-48191889/README.md
  recognition/SiameseNN-48191889/model/dataset.py
  recognition/SiameseNN-48191889/model/modules.py
  recognition/SiameseNN-48191889/model/predict.py
  recognition/SiameseNN-48191889/model/train.py
Labels: _Siamese, PDF, Preliminary Grade, BB, Completed

#27 StyleGAN Generative Model for ADNI Brain Dataset with t-SNE Visualization
  recognition/.DS_Store
  recognition/StyleGAN_VBV/.DS_Store
  recognition/StyleGAN_VBV/README.md
  recognition/StyleGAN_VBV/dataset.py
  recognition/StyleGAN_VBV/embedding.py
  recognition/StyleGAN_VBV/images/.DS_Store
  recognition/StyleGAN_VBV/images/AD_critic_loss_final.png
  recognition/StyleGAN_VBV/images/AD_generator_loss_final.png
  recognition/StyleGAN_VBV/images/AD_images.png
  recognition/StyleGAN_VBV/images/NC_critic_loss_final.png
  recognition/StyleGAN_VBV/images/NC_generator_loss_final.png
  recognition/StyleGAN_VBV/images/NC_images.png
  recognition/StyleGAN_VBV/images/tsne_visualization.png
  recognition/StyleGAN_VBV/modules.py
  recognition/StyleGAN_VBV/predict.py
  recognition/StyleGAN_VBV/train.py
Labels: _StyleGAN, PDF, Preliminary Grade, Feedback Needed, BB, Completed

#145 s47450262-Topic-recognition-3DUnet
  recognition/s4745026_3DUnet/README.md
  recognition/s4745026_3DUnet/README.pdf
  recognition/s4745026_3DUnet/dataset.py
  recognition/s4745026_3DUnet/image.png
  recognition/s4745026_3DUnet/modules.py
  recognition/s4745026_3DUnet/output.png
  recognition/s4745026_3DUnet/predict.py
  recognition/s4745026_3DUnet/requirements.txt
  recognition/s4745026_3DUnet/train.py
  recognition/s4745026_3DUnet/utils.py
Labels: _UNet3D, PDF, Preliminary Grade, Feedback Needed, BB, Completed, Updated_Grade

#186 Topic recognition
  recognition/classifying prostate data using UNet - s4530985/README.md
  recognition/classifying prostate data using UNet - s4530985/dataset.py
  recognition/classifying prostate data using UNet - s4530985/modules.py
  recognition/classifying prostate data using UNet - s4530985/predict.py
  recognition/classifying prostate data using UNet - s4530985/readMe_images/u-net-architecture.png
  recognition/classifying prostate data using UNet - s4530985/train.py
Labels: invalid, _UNet3D, PDF, Preliminary Grade, Feedback Needed, _After cutoff, BB, Completed, Updated_Grade
